
// MAIN COLORS

$d_main_color: var(--d_main_color);
$d_main_hover: var(--d_main_hover);
$d_main_active: var(--d_main_active);

// BUTTON COLORS

$b_main_default: var(--b_main_default);
$b_main_hover: var(--b_main_hover);
$b_main_active: var(--b_main_active);

$b_secondary_default: var(--b_secondary_default);
$b_secondary_hover: var(--b_secondary_hover);
$b_secondary_active: var(--b_secondary_active);

$b_inactive: var(--b_inactive);


// TEXT COLORS

$t_black_title: var(--t_black_title);
$t_black_description: var(--t_black_description);

$t_white_default: var(--t_white_default);

$t_main_default: var(--t_main_default);

// COLORS

$c_main_white: var(--c_main_white);
$c_main_white_bg: var(--c_main_white_bg);

$c_error: var(--c_error);
$c_error_bg: var(--c_error_bg);

// SHADOWS

$s_main_shadow: var(--s_main_shadow);

// BORDER RADIUS

$border_radius_24: var(--border_radius_24);
$border_radius_8: var(--border_radius_8);